<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url('static', filename='favicon.ico') }}"/>

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

    <link rel="stylesheet" type="text/css"
          href="{{ url('static', filename='node_modules/@mdi/font/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url('static', filename='node_modules/typeface-roboto/index.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url('static', filename='node_modules/material-design-lite/material.min.css') }}"/>
    <script defer src="{{ url('static', filename='node_modules/material-design-lite//material.min.js') }}"></script>

    <title>{{title}}</title>
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>